<title>Users Page</title>

<!-- Main Content -->
 
<table class="table table-hover table-striped table-primary">
    <h1 class="text-center">Users Table</h1>
    <thead class="thead-dark">
            <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
            </tr>
    </thead>
    <tbody>
            <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
            </tr>
            <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
            </tr>
            <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
            </tr>
    </tbody>
</table>
<div class="container mt-5">
  <h1 class="text-center"><%= title %></h1>
  <hr />

  <p class="lead text-center mt-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint
    necessitatibus odit numquam porro ipsam obcaecati dolorum nihil dolor, optio
    assumenda id iure, sunt fugit quam aliquam blanditiis hic modi delectus!
  </p>

  <div class="text-center mt-1">
    <a
      href="https://www.facebook.com"
      class="btn btn-primary m-2"
      target="_blank"
    >
      <i class="bi bi-facebook"></i> Facebook
    </a>
    <a href="https://www.twitter.com" class="btn btn-info m-2" target="_blank">
      <i class="bi bi-twitter"></i> Twitter
    </a>
    <a
      href="https://www.instagram.com"
      class="btn btn-danger m-2"
      target="_blank"
    >
      <i class="bi bi-instagram"></i> Instagram
    </a>
  </div>





</div>
