<header>
  <h1>Bienvenido a Home</h1>
</header>
<main>
  <section>
    <h2>Sección Principal</h2>

    <p>Este es el contenido principal de la página de inicio.</p>
    <ul>
      <% productos.forEach(producto => { %>
      <li><%= producto.nombre %> - Precio: <%= producto.precio %></li>
      <% }); %>
    </ul>
  </section>
</main>
